body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    background-color: #0F1C2E;
   
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    height: 100vh;
}

h1 {
   
    text-transform: uppercase;
    color: brown; 
}

span {
   
    margin-top:10px;
    color: blueviolet;
    text-transform: uppercase;
    font-size: 1.5rem; 
}

#para{
    color: blue;
    font-size: 1rem;
}

button {
    padding: 10px;
    background-color: #1F3A5F;
    color: #cee8ff;
    text-transform: uppercase;
}

.hidden {
    display: none;
    color: whitesmoke;
   
}