body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F1C2E;
}

td {
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #454545;
    color: #FFFFFF;
    border: 1px solid #8FBC8F;
    border-collapse: collapse;
}

th {
    color: white;
    text-transform: uppercase;
}

.highlited-color {
    background-color: #2E8B57;
}