* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;  
    background-color: #3D5A80;  
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1E1E1E;
    color: #e0e0e0;
    cursor: pointer;
}

section {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    background-color: red;
}



