* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: purple;
    flex-direction: column;
    gap: 30px;
} 

canvas {
    border: 3px solid #1f2b3e; 
    background-color: #4a9d9c ;
} 

h1 {
    text-transform: uppercase;
    color: aliceblue;
}

/* button {
    padding: 10px 5px;
    border: 3px;
    background-color: #cee8ff;
    color: #0D6E6E;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;

}

button:hover {
    background-color: #1F3A5F;
    color:#cee8ff;
} */



