body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1 {
   
    text-transform: uppercase;
    color: brown; 
}

span {
   
    margin-top:10px;
    color: blueviolet;
    text-transform: uppercase;
    font-size: 1.5rem; 
}

#para{
    color: blue;
    font-size: 1rem;
}