* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;  
    background-color: #3D5A80;  
}

ol {
    padding-inline: 40px;
    background-color:#c2baa6;
    color: #346145;
    border-radius: 5px;
    text-transform: uppercase;
    
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1E1E1E;
    color: #e0e0e0;
    cursor: pointer;
}





